<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand text-primary font-weight-bold" href="{{ url_for('index') }}">DecisionTrees</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <a class="btn btn-outline-primary my-sm-0 mr-2" href="{{ url_for('login') }}" role="button">Login</a>
    <a class="btn btn-outline-primary my-sm-0" href="{{ url_for('register') }}" role="button">Register</a>
  </div>
</nav>